.comWidth
{
	width: 1000px;
	margin: 0 auto;
}
/*topBar*/
.topBar
{
	height: 31px;
	background-color: #F7F7F7;
	line-height: 31px;
}
.leftArea
{
	float: left;
}
.collection
{
	background: url(../images/icon/collection.jpg) left center 
	no-repeat;
	padding-left: 19px;
	font-weight: bold;
}
.rightArea
{
	float: right;
}
.topBar a:hover
{
    color: red;
}
/*logo*/
.logoBar
{
	height: 85px;
    background-color:#1d7ad9;
}
.logo
{
	padding-left: 32px;
	padding-top: 12px;
}
/*search*/
.search_box
{
	width: 430px;
	padding-top: 23px;
	padding-left: 185px;	
}
.search_text
{
	width: 350px;
	height: 35px;
	line-height: 35px\9;/*\9代表所有IE浏览器*/
	padding:0 5px;
}
.search_btn
{
	width: 70px;
	height: 35px;
	font-size: 14px;
	font-family: "微软雅黑";
	background-color: #ff8c00;
	color: #fff;
}
/*购物车*/
.shopCar
{
	width: 145px;
	height: 35px;
	background-color: #ff8c00;
	margin-top: 23px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	line-height: 35px;
	margin-right: 40px;
}
.shopText
{
	display: block;
	text-indent: 40px;
	height: 100%;
	width: 87px;
	border-right: #e27a00 solid 1px;
	background: url(../images/icon/shopCar.jpg) 10px center
	 no-repeat;
}
.shopNum
{
	width: 27px;
	height: 35px;
	border-left: #ff9c01 solid 1px;
	background: url(../images/icon/sj.jpg) 33px center 
	no-repeat;
	text-align: right;
	padding-right: 29px;
}
/*导航*/
.navBox
{
	height: 35px;
	background-color: #1369c0;
	color: #FFF;
}
.shopClass
{
	width: 190px;
	position: relative;
}
.shopClass h3
{
	line-height: 35px;
	text-align: center;
}
.shopClass i 
{
	width: 11px;
	height: 7px;
	overflow: hidden;
	background: url(../images/icon/pics_03.jpg)left center 
	no-repeat;
	display: inline-block;
    margin-left: 11px;
}
.nav,.shopClass
{
	font-family: "微软雅黑";
}
.nav
{
	line-height: 35px;
}
.nav li 
{
	float: left;
}
.nav a 
{
	height: 35px;
	display: inline-block;
	padding: 0 35px;
	color: #fff;
}
.nav .active
{
	background-color: #4593fd;
}
/*商品弹出列表*/
.shopClass_show
{
	background-color: #4593fd;
	position: absolute; left:0; top:35px;
	width: 100%;
}
.shopClass_item
{
	padding: 14px 10px;
    border-bottom:#3487f2 solid 1px;
	
}
.shopClass_item dt
{
	height: 22px;
	background: url(../images/icon/pic_1.jpg) right
	 center no-repeat;
}
.shopClass_item .b
{
   font-size: 14px;
   font-weight: bold; 
}
.shopClass_item a 
{
	color: #fff;
}
.shopClass_item .alink
{
	width: 48px;
	height: 20px;
	background:url(../images/icon/alink.png) left 
	center no-repeat;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	text-decoration: underline;
}
/*banner部分*/
.wrap
{
	margin-bottom: 15px;
}
.ad
{
	height: 328px;
	width: 811px;
	margin-left: 190px;
}
/*.banner_bar
{
	width: 810px;
	height: 326px;
	float: right;
	position: relative;
	overflow: hidden;
}*/
/*.imgBox
{
	width: 1620px;
	height: 326px;
	position: absolute;left:0; top:0;   
}
.imgBox li
{
	float: left;
}
.imgBox img
{
	width: 810px;
	height: 326px;
	display: block;
}
.imgNum
{
	position:absolute;left:0;bottom:15px;width:100%;
	text-align: center;
}
.imgNum a 
{
	width: 20px;
	height: 5px;
	overflow: hidden;
	background-color: #FFF;
	display: inline-block;
	margin: 0 3px;
}
.imgNum .active
{
	background-color: #ff7700;
}*/
/*商品标题*/
.shopTit
{
	height: 44px;
	line-height: 44px;
	font-family: "微软雅黑";
	margin-bottom: 15px;
}

.shopTit h3
{
	font-size: 24px;
	font-weight: normal;
	float: left;
	padding-left: 15px;
}
.icon
{
	float: left;
	width: 44px;
	height: 44px;
	background: url(../images/icon/shopicon.jpg) 
	left top no-repeat;
}
.more
{
	float: right;
	font-family: "宋体";
}
.more:hover
{
	text-decoration: underline;
}
/*商品列表*/
.shopList .leftArea
{
	width: 190px;
}
.shopList
{
	min-height: 405px;
}
.shopList .rightArea
{
	width: 808px;
	height: 400px;
	border:#e5e5e5 solid 1px;
	border-bottom: #ff7201 solid 3px;
	overflow: hidden;
}
.ad2
{
	width: 190px;
	height: 392px;
}
/*商品列表右侧*/
.shopList_top,.shopList_sm
{
	margin-right: -4px;
}

.shop_item
{
	float: left;
	width: 202px;
	height: 279px;
	border-right: #e5e5e5 solid 1px;
	border-bottom: #e5e5e5 solid 1px;
	text-align: center;
	font-family: "微软雅黑";
}
.shop_img
{
	height: 218px;
}
.shop_img img 
{
    width: 100%;
    height: 218px;
    display: block;
}
.shop_item h3
{
	font-size: 16px;
	
}
.shop_item p 
{
	font-size: 14px;
	color: #ff7300;
	line-height: 21px;
}
/*商品列表-小*/
.shopList
{
	margin-bottom: 15px;
}
.shopItem_sm
{
	float: left;
	height: 116px;
	width: 202px;
	border-right: #e5e5e5 solid 1px;
}
.shopItem_smImg1,.shopItem_smImg2,.shopItem_smImg3,.shopItem_smImg4
{
	width: 95px;
	height: 95px;
	text-align: center;
	float: left;
}
.shopItem_smImg1 img 
{
	width: 79px;
	height: 62px;
	margin-top: 27px;
}
.shopItem_smImg2 img
{
	width: 41px;
	height: 76px;
	margin-top: 20px;
}
.shopItem_smImg3 img
{
	width:55px;
	height: 82px;
	margin-top: 20px;
}
.shopItem_smImg4 img
{
	width: 70px;
	height: 48px;
	margin-top: 32px;
}
.shopItem_Text
{
    padding-top: 28px;
    width: 100px;
    float: left;
}
.shopItem_Text p 
{
	font-size: 12px;
	color: #ff7300;
	line-height: 18px;
}
.shopItem_Text h3 
{
	line-height: 30px;
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: normal;
	color: #181818;
}
/*底部*/
.footer
{
	text-align: center;
	background-color: #d4d4d4;
	line-height: 24px;
	padding: 50px 0;
}
.footer i 
{
	font-style: normal;
	margin: 0 5px;
}
.footer a 
{
	color: #000;
}
.footer a:hover
{
	text-decoration: underline;
}
.footer_img
{
	padding-top: 30px;
}
.footer_img img 
{
	margin: 0 12px;
}
.hr_25
{
	height: 25px;
}
.hr_7
{
	height: 7px;
	overflow: hidden;
}
/*产品分类*/
.products .leftArea
{
	width: 185px;
}
.leftNav
{
	background-color: #f3f3f3;
	border: #cdcdcd solid 1px;
}
.nav_title
{
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	border-bottom: #cdcdcd solid 1px;
	text-align: center;
}
.nav_cont
{
	padding: 0 18px 4px;/*上 左右 下*/
	border-bottom: #d7d7d7 dotted 1px;
	margin-bottom: -1px;
}
.nav_cont h3
{
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}
.navCont_list
{
	line-height: 25px;
	min-height: 100px;
}
.navCont_list li 
{
	float:left;
	width: 50%;
}
/*产品种类标题*/
.rightArea1
{
	
}
.products_title
{
	height: 34px;
	border: #cccccc solid 2px;
}
.products_title h3
{
	width: 180px;
	border-bottom: #096dba solid 2px;
	height: 34px;
	line-height: 34px;
	float: right;
}