*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
.main_wrap{
	margin: 0 auto;
	width: 980px;
	height: 1386px;
	background-color: #F2F2F2;
}
.wrap{
	width: 892px;
	margin: 0 auto;
}
.header{
	overflow: hidden;
}
.header p{
	font-size: 12px;
	font-family: "黑体";
}
.head_l{
    width: 110px;
    height: 61px;
    background-color: #d45d5c;
    float: left;
}
.head_l p {
	margin: 42px 0 0px 7px;
}
.head_l p a{
	color: #fff;
}
.head_r{
	float: right;
	margin-top: 45px;
}
.head_r p{
	color: #d45d5c;
}
.hr1{
	width: 892px;
	height: 2px;
	background-color: #938e8c;
}
.banner{
	margin-top: 30px;
	overflow: hidden;
}
.banner_pic{
	width: 641px;
	height: 301px;
	background: url("../img/banner.jpg");
	float: left;
}
.picL{
	width: 191px;
	height: 301px;
	background: #adc2a4;
	float: left;
	opacity: 0.5;
}
.picR{
	width: 191px;
	height: 301px;
	background: #e5bdbe;
	float: right;
	opacity: 0.6;
}
.banner_text{
	width: 203px;
	height: 301px;
	float: right;
}
.hr2{
	width: 203px;
	height: 2px;
	background: #cc8091;
	margin-bottom: 10px;
}
.p1{
	font-size: 24px;
	font-family: "微软雅黑";
	color: #000;
	line-height: 40px;
	 text-decoration: underline;
}
.p2{
	font-size: 12px;
	line-height: 10px;
	font-family: "楷体";
	color: #676767;
}
.p3{
	text-indent: -18px;
	font-size: 116px;
	color: #75b86b;
	font-family: "微软雅黑";
}
.p4,.p5,.p6{
	font-family: "微软雅黑";
	color: #cc8091;
}
.p4{
	font-size: 55px;
	display: inline-block;float: left;
	margin-top: -22px;
}
.cs{
	float: left;
    margin-top: -6px;
}
.p5{
	font-size: 21px;
}
.p6{
	font-size: 12px;
}
.topic{
	overflow: hidden;
	margin-top: 40px;
	width:892px;
}
.what, .when, .how{
	width: 228px;
	float: left;
    margin-right: 30px;
}
.what_title{
	font-size: 16px;
	color: #418c59;
	text-decoration: underline;
	font-family: "微软雅黑";
}
.when_title{
	font-size: 16px;
	color: #d2994f;
	text-decoration: underline;
	font-family: "微软雅黑";
}
.how_title{
	font-size: 16px;
	color: #cc7680;
	text-decoration: underline;
	font-family: "微软雅黑";
}
.what_content,.when_content{
	font-size: 12px;
	line-height: 16px;
	color: #767777;
	font-family: "宋体";
	margin-top: 4px;
}
.how_p{
	font-size: 12px;
	line-height: 21px;
	color: #767777;
	font-family: "宋体";
	margin-top: 4px;
}
.what_num {
    font-size: 12px;
    font-family: "微软雅黑";
    line-height: 16px;
    color: #231815;
    opacity: 0.7;
    margin-top: 20px;
}
.what_num p span{
    color: #cd4a48;
    font-style: italic;
}
.content{
	margin-top: 60px;
	overflow: hidden;
}
.content_left{
	width: 415px;
	float: left;
}
.left_title{
	font-family: "黑体";
	font-weight: bold;
	color: #11456b;
	font-size: 42px;
}
.left_title p span{
	font-size: 72px;
	color: #f5e327;
	font-style: italic;
}
#tit{
	font-size: 33px;
}
.hr3{
	width: 415px;
	height: 2px;
	background: #11456b;
	margin-top: 16px;
}
.left_text{
	font-size: 12px;
	line-height: 16px;
	color: #767777;
	font-family: "宋体";
	margin-top: 25px;
}
.left_text span{
	font-size: 70px;
	line-height: 70px;
	padding-right: 8px;
	float: left;
	font-family: "微软雅黑";
	color: #f5e327;
}
.left_text img{
	float: right;
	padding: 20px 0 20px 20px;
}
.pid{
	text-indent: 14px;
}
.content_right{
	height: 700px;
	width: 458px;
	overflow: hidden;
	float: right;
}
.right_pic{
	height: 257px;
	background: url(../img/pic2.jpg);
}
.pic_txt{
	position: relative;
	bottom: -195px;
	height: 61px;
	width: 458px;
	line-height: 61px;
	background-color: rgba(0,0,0,0.3);
	font-family: "微软雅黑";
}
.txt_big{
	padding-left: 10px;
	margin-left: 35px;
	font-size: 26px;
	color: #fff;
	border-left: 3px solid #72b16a;
}
.txt_sml{
	font-size: 12px;
	color:  #72b16a;
	font-style: italic;
	letter-spacing: 140%;
}
.right_text{
	background-color: #eeedd6;
	margin-top: 30px;
	height: 370px;
}
.catalog{
	margin: 20px 10px 20px 20px;
	line-height: 20px;
}
.list{
	padding-top: 30px;
	padding-right: 10px;
	font-size: 16px;
	font-family: "宋体";
	color: #5a5b5b;
}
.icon{
	position: relative;
	top: -10px;
	margin-right: 5px;
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #10456b;
}
.list_d{
	font-size: 12px;
	font-style: italic;
	float: right;
}
.last{
	margin-top: 59px;
}
.last_l{
	width: 260px;
	height: 160px;
	background: #d45d5c;
	line-height: 160px;
}
.zero{
	float: left;
	display: inline-block;
	font-size: 110px;
	margin-left: 10px;
	font-family: "微软雅黑";
	color: #fff;
	/*border-right: 2px solid #fff;*/
}
.hr4{
	height: 86px;
	width: 2px;
	background-color: #fff;
	float: left;
	margin-top: 39px;
	margin-right: 5px;
}
.four{
	position: relative;
	top: 40px;
	font-size: 21px;
	font-family: "黑体";
	font-style: italic;
	line-height: 24px;
	color: #fff;
}
.four span{
	width: 165px;
	float: left;
}
.three{
	font-size: 12px;
	line-height: 12px;
	margin-top: 5px;
}
.last_r{
	width: 160px;
	float: right;
	font-family: "黑体";
	position: relative;
	bottom: 125px;
	padding-right: 10px;
}
.tt{
	font-size: 14px;
	line-height: 16px;
	color: #5a5b5b;
	font-style: italic;

}
.quates1{
    font-size: 72px;
    color: #d45d5c;
    float: left;
    line-height: 40px;
    margin-left: -40px;
    margin-bottom: -25px;
}
.quates2{
	float:right;
	font-size: 72px;
    color: #d45d5c;
    line-height: 40px;
    margin-right: -35px;
}
.hr5{
	width: 892px;
	height: 1px;
	background-color: #938e8c;
}
.foot{
	font-size: 12px;
	font-family: "黑体";
	color: #d45d5c;
	float: right;
}